<div *ngIf="loading" [ngClass]="[!MessageLoading? 'spinner-wrapper':'spinner-wrapper-message']">
  <app-sppinerloading [message]="MessageLoading"></app-sppinerloading>
</div>

<div class="col-xl12 col-md-12">
  <app-card cardTitle="Consulta general">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="dataI"> Fecha Inicial(*) </label>
          <div class="input-group">
            <input
              [matDatepicker]="dp1"
              class="form-control"
              autocomplete="off"
              [(ngModel)]="dateI"
            />
            <mat-datepicker #dp1></mat-datepicker>
            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary fa fa-calendar"
                (click)="dp1.open()"
                type="button"
                style="padding: 6px; z-index: 0"
              ></button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="dataI"> Fecha Final(*) </label>
          <div class="input-group">
            <input
              [matDatepicker]="dp2"
              class="form-control"
              autocomplete="off"
              [(ngModel)]="dateF"
            />
            <mat-datepicker #dp2></mat-datepicker>
            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary fa fa-calendar"
                (click)="dp2.open()"
                type="button"
                style="padding: 6px; z-index: 0"
              ></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-primary mb-4" (click)="getInvoice()">
      Obtener facturas
    </button>
    <div class="row">
      <h4>Filtros</h4>
      <mat-form-field *ngFor="let filter of filterSelectObj" class="col-md-2">
        <mat-label> {{ filter.name }}</mat-label>
        <select
          matNativeControl
          name="{{ filter.columnProp }}"
          [(ngModel)]="filter.modelValue"
          (change)="filterChange(filter, $event)"
        >
          <option value="">-Selecciona: {{ filter.name }}</option>
          <option [value]="item" *ngFor="let item of filter.options">
            {{ item }}
          </option>
        </select>
      </mat-form-field>
      &nbsp;
      <button class="btn btn-warning mb-4" (click)="resetFilters()">
        Resetear
      </button>
    </div>

    <!--<mat-form-field>
      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event.target.value)"
        placeholder="Facturas CCDOC"
        #input
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Filter2</mat-label>
      <input
        matInput
        (keyup)="applyFilter1($event.target.value)"
        placeholder="Facturas CCDOC"
        #input
      />
    </mat-form-field>-->

    <div class="example-container mat-elevation-z8">
      <table
        mat-table
        class="mat-table-custom"
        [dataSource]="dataSource"
        matSortDisableClear
        matSortDirection="desc"
      >
        <ng-container clas="mat-cell-sel" matColumnDef="numero" sticky>
          <mat-header-cell class="aling-grid" *matHeaderCellDef>
            Número
          </mat-header-cell>
          <mat-cell class="aling-grid" *matCellDef="let row">
            {{ row.numero }}
          </mat-cell>
          <mat-footer-cell class="align-grid" *matFooterCellDef>
          </mat-footer-cell>
        </ng-container>

        <ng-container clas="mat-cell-sel" matColumnDef="fechaFactura">
          <mat-header-cell *matHeaderCellDef> Fecha Factura </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.fechaFactura | date: "d/MM/yy" }}
          </mat-cell>
          <mat-footer-cell class="align-grid" *matFooterCellDef>
          </mat-footer-cell>
        </ng-container>

        <ng-container clas="mat-cell-sel" matColumnDef="nombreProveedor">
          <mat-header-cell *matHeaderCellDef>
            Nombre del proveedor
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.nombreProveedor }} </mat-cell>
          <mat-footer-cell class="align-grid" *matFooterCellDef>
          </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="correoProveedor">
          <mat-header-cell *matHeaderCellDef>
            Correo del proveedor
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.correoProveedor }} </mat-cell>
          <mat-footer-cell class="align-grid" *matFooterCellDef>
          </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="dayInGdoc">
          <mat-header-cell *matHeaderCellDef> Días en GDOC </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.dayInGdoc }} </mat-cell>
          <mat-footer-cell class="align-grid" *matFooterCellDef>
          </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="estadoId">
          <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.estadoId }} </mat-cell>
          <mat-footer-cell class="align-grid" *matFooterCellDef>
          </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="accionId">
          <mat-header-cell *matHeaderCellDef> Acción </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.accionId }} </mat-cell>
          <mat-footer-cell class="align-grid" *matFooterCellDef>
          </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="encabezadoFlujoId">
          <mat-header-cell *matHeaderCellDef> Flujo </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.encabezadoFlujoId }}
          </mat-cell>
          <mat-footer-cell class="align-grid" *matFooterCellDef>
          </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="firmaDig">
          <mat-header-cell *matHeaderCellDef> Firma digital </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <div *ngIf="row.firmaDig; else noFirm">
              <input type="checkbox" id="checkbox-p-fill-4" disabled checked />
            </div>
            <ng-template #noFirm>
              <input type="checkbox" id="checkbox-p-fill-4" disabled />
            </ng-template>
          </mat-cell>
          <mat-footer-cell class="align-grid" *matFooterCellDef>
          </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="fiscalIdProveedor">
          <mat-header-cell *matHeaderCellDef>
            Nit del proveedor
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.fiscalIdProveedor }}
          </mat-cell>
          <mat-footer-cell class="align-grid" *matFooterCellDef>
          </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="formaPago">
          <mat-header-cell *matHeaderCellDef> Forma de pago </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.formaPago }} </mat-cell>
          <mat-footer-cell class="align-grid" *matFooterCellDef>
          </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="medioPago">
          <mat-header-cell *matHeaderCellDef> Medio de pago </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.medioPago }} </mat-cell>
          <mat-footer-cell class="align-grid" *matFooterCellDef>
          </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="plazoPagoDias">
          <mat-header-cell *matHeaderCellDef>
            Plazo del pago en días
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.plazoPagoDias }} </mat-cell>
          <mat-footer-cell class="align-grid" *matFooterCellDef>
          </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="quienFirma">
          <mat-header-cell *matHeaderCellDef> Quien firma </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.quienFirma }} </mat-cell>
          <mat-footer-cell class="align-grid" *matFooterCellDef>
          </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="tipoDocumento">
          <mat-header-cell *matHeaderCellDef>
            Tipo de documento
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.tipoDocumento }} </mat-cell>
          <mat-footer-cell class="align-grid" *matFooterCellDef>
          </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="moneda">
          <mat-header-cell *matHeaderCellDef> Moneda </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.moneda }} </mat-cell>
          <mat-footer-cell class="align-grid" *matFooterCellDef>
          </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="nOrdenCompra">
          <mat-header-cell *matHeaderCellDef> Orden de compra </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.nOrdenCompra }} </mat-cell>
          <mat-footer-cell class="align-grid" *matFooterCellDef>
          </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="subtotal">
          <mat-header-cell *matHeaderCellDef> Subtotal </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.subtotal | currency }}
          </mat-cell>
          <mat-footer-cell class="align-grid" *matFooterCellDef>
          </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="impuestos">
          <mat-header-cell *matHeaderCellDef> Impuestos </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.impuestos | currency }}
          </mat-cell>
          <mat-footer-cell class="align-grid" *matFooterCellDef>
          </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="total">
          <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.total | currency }}
          </mat-cell>
          <mat-footer-cell class="align-grid" *matFooterCellDef>
          </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell (click)="openMenu(row)" *matCellDef="let row" style="width: 20px;">
            <button  type="button" class="btn btn-icon btn-rounded fa fa-ellipsis-v" ></button>
          </mat-cell>
          <mat-footer-cell class="align-grid" *matFooterCellDef>
          </mat-footer-cell>
        </ng-container>
        

        <mat-header-row
          class="w-row header"
          *matHeaderRowDef="displayedColumns"
        ></mat-header-row>
        <mat-row
          class="w-row"
          [ngClass]="valSiTieneFlujo(row) ? '' : 'ifNoFlow'"
          *matRowDef="let row; columns: displayedColumns"
          ></mat-row
        >
        <mat-footer-row
          class="w-row footer"
          *matFooterRowDef="displayedColumns"
        ></mat-footer-row>

        <!--<mat-row *matNoDataRow>
          <mat-cell colspan="9"
            >No hay datos relacionados con los términos de búsqueda "{{
              input.value
            }}"
          </mat-cell>
        </mat-row>-->
        
      </table>
    </div>
    <mat-paginator
      [pageSizeOptions]="[10, 20, 100]"
      showFirstLastButtons
      sticky
    ></mat-paginator>
  </app-card>
</div>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.25)"
  size="large"
  color="#36618B"
  type="ball-spin-clockwise-fade-rotating"
>
</ngx-spinner>
