.b-table{
    margin-top: 1em !important;
}

.mat-cell{
    .btn{
        padding: 2px 2px !important;
    }
}

.ifNoFlow{
    background-color: rgb(226, 205, 85);
}

td.mat-cell {
    justify-content: center !important;
}

.mat-column-acciones{
    flex:0 0 1%;
}

.mat-column-numero{
    flex:0 0 3%;
}