<div class="col-xl-12 col-md-12">
  <app-card cardTitle="Proveedor">

    <form [formGroup]="addProveedoresForm" (ngSubmit)="onSubmit()">
      <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
        <mat-tab label="Datos" style="padding: 1%;">
          <div class="container" style="padding: 30px;">
            <label>Los campos marcados con * son obligatorios</label>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="nombres">
                    Nombre(*)
                  </label>
                  <input type="text" class="form-control" formControlName="nombre"
                    [ngClass]="{ 'is-invalid': f.nombre.errors }" [readonly]="edit" />
                  <div *ngIf="f.nombre.errors" class="invalid-feedback">
                    <div *ngIf="f.nombre.errors.required">Debes ingresar un nombre.</div>
                    <div *ngIf="f.nombre.errors.maxlength">El nombre no puede superar 100 caracteres.</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="nombres">
                    Nit(*)
                  </label>
                  <input type="number" class="form-control" formControlName="nit"
                    [ngClass]="{ 'is-invalid': f.nit.errors }" [readonly]="edit"/>
                  <div *ngIf="f.nit.errors" class="invalid-feedback">
                    <div *ngIf="f.nit.errors.required">Debes ingresar un nombre.</div>
                    <div *ngIf="f.nit.errors.maxlength">El nombre no puede superar 100 caracteres.</div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="nombres">
                    Teléfono(*)
                  </label>
                  <input type="number" class="form-control" formControlName="telefono"
                    [ngClass]="{ 'is-invalid': f.telefono.errors }"/>
                  <div *ngIf="f.telefono.errors" class="invalid-feedback">
                    <div *ngIf="f.telefono.errors.required">Debes ingresar un nombre.</div>
                    <div *ngIf="f.telefono.errors.maxlength">El nombre no puede superar 100 caracteres.</div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>Correo Electrónico</label>
                  <input type="email" formControlName="correo" class="form-control"
                    [ngClass]="{ 'is-invalid': f.correo.errors }" onkeyup="this.value = this.value.toLowerCase();"
                    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,6})+$" />
                  <div *ngIf="f.correo.errors" class="invalid-feedback">
                    <div *ngIf="f.correo.errors.required">Debes ingresar un correo Electrónico.</div>
                    <div *ngIf="f.correo.errors.email || f.correo.errors.pattern">Debes ingresar un correo Electrónico
                      válido.</div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>Número de cuenta(*)</label>
                  <input type="text" class="form-control" formControlName="numCuenta"
                    [ngClass]="{ 'is-invalid': f.numCuenta.errors }"/>
                  <div *ngIf="f.numCuenta.errors" class="invalid-feedback">
                    <div *ngIf="f.numCuenta.errors.required">Debes ingresar un número de cuenta.</div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>Banco(*)</label>
                  <input type="text" class="form-control" formControlName="bancoId"
                    [ngClass]="{ 'is-invalid': f.bancoId.errors }"/>
                  <div *ngIf="f.bancoId.errors" class="invalid-feedback">
                    <div *ngIf="f.bancoId.errors.required">Debes ingresar un número de cuenta.</div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for='rolId'>Flujo(*)</label>
                  <select formControlName="flujoId" class="form-control" [ngClass]="{ 'is-invalid': f.flujoId.errors}">
                    <option *ngFor="let flujo of flujo$" [value]=flujo.flujoId>{{flujo.nombre}}</option>
                  </select>
                </div>
              </div>
            </div>


            <!--<div class="form-row">
                          <div class="form-group col">
                              <div class="checkbox checkbox-primary checkbox-fill d-inline">
                                  <input type="checkbox" id="switch-a-3" formControlName="Inactive" [ngClass]="{
                      'is-invalid': f.Inactive.errors }" />
                                  <label for="switch-a-3" class="cr"></label>
                              </div>
                              <label>Inactivo</label>
                          </div>
                      </div>-->

            <div class="row">
              <div class="col">
                <button class="btn btn-primary btn-block btn-lg" [disabled]="addProveedoresForm.invalid">Guardar</button>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>

    </form>
  </app-card>
</div>
