<div *ngIf="loading" class="spinner-wrapper">
    <app-sppinerloading></app-sppinerloading>
</div>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">

            <form [formGroup]="loginForm" class="login100-form " autocomplete="off">
                <div class="col-md-12" style="align-content:center;">
                    <img src="./../../../../assets/images/logo_btw.png" style="width: 80%;margin-bottom:120px; margin-left:10%; text-align:center; display:block;" />
                </div>

                <span class="login100-form-title p-b-43">
                    Inicia sesión para continuar
                </span>
                <br><br><br>

                <div [ngClass]="[!f.userid.errors ? 'wrap-input100 validate-input': 'wrap-input100 validate-input alert-validate']"
                data-validate="Se requiere un usuario">
                <input formControlName="userid" id="userid"
                    [ngClass]="[!loginForm.value.userid ? 'input100': 'input100 has-val']" type="text"
                    (keypress)="leavePassword($event)" (focusin)="leavePassword($event)"
                    (keydown)="leavePassword($event)" autocomplete="off">
                <span class="focus-input100"></span>
                <span class="label-input100">Usuario</span>
            </div>

            <div [ngClass]="[!f.password.errors ? 'wrap-input100 validate-input': 'wrap-input100 validate-input alert-validate']"
                data-validate="Se requiere una contraseña">
                <input formControlName="password" id="password"
                    [ngClass]="[!loginForm.value.password ? 'input100': 'input100 has-val']"
                    type="password" name="pass" (keypress)="enterPassword($event)"
                    (keydown)="enterPassword($event)" autocomplete="off">
                <span class="focus-input100"></span>
                <span class="label-input100">Contraseña</span>
            </div>

            <br>
                <p></p>
                <p></p>
                <div class="container-login100-form-btn">
                    <button id="btnLogin" [disabled]="loginForm.invalid" class="btn btn-primary mb-4"
                            (click)="submit();">Ingresar</button>
                </div>
                <div class="flex-sb-m w-full p-t-3 p-b-32" style="margin-top: 60px;">

                </div>
                <div class="text-center p-t-46 p-b-20">
                    <label id="lblerror" runat="server" visible="false" style="color:red;"></label>
                </div>
            </form>
            <div class="login100-more"></div>
        </div>
    </div>
</div>