<div class="card-body text-center">
    <div class="form-group">
        <div *ngIf="hayComentarios">
            <table>
                <thead>
                  <tr>
                    <th>Fecha</th>
                    <th>Usuario</th>
                    <th style="width: 50%;">Mensaje</th>
                    <th>Acción</th>
                  </tr>
                </thead>
                <tbody>
                  <tr style="height: 3rem; border-collapse: collapse" *ngFor="let comentario of Comentario$">
                    <td>{{comentario.createdAt | date:'MMM d, y, h:mm:ss a'}}</td>
                    <td>{{comentario.createdBy}}</td>
                    <td>{{comentario.mensaje}}</td>
                    <td>{{comentario.accionId}}</td>
                  </tr>
                </tbody>
                </table>
        </div>
        <br>
        <label for="nombres">
            Comentario 
        </label>
        <textarea class="form-control" [(ngModel)]="comentario"></textarea>
    </div>
    <button class="btn btn-primary mb-4" (click)="saveModal()">Guardar</button>
    <button class="btn btn-primary mb-4" (click)="closeViewModal()">Cancelar</button>

</div>